<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

        html {
            height: 100%;
        }

        body {
            background: rgb(211,241,238);
            background: linear-gradient(146deg, rgba(211,241,238,1) 0%, rgba(128,175,255,1) 100%, rgba(96,226,226,0.7231267507002801) 100%, rgba(62,130,134,1) 100%);
            height: 100%;
            margin: 0;
            background-repeat: no-repeat;
        }

        h1 {
            color: white;
            text-shadow: 1px 1px #000000;
        }

        input {
            color: black;
        }

    </style>
  
    <title>Birthday List</title>
</head>
<body>
    
    <div class="w-100 p-5 col text-center">
        <div class="w-100 p-5 " >
        <h1>Birthday List</h1>
        <br>
    <form action="#" th:action="@{/}" th:object="${birthdayItem}" method="POST">

        <input type="text" placeholder="Name" name="name">
        <input type="date" placeholder="Date of birth" name="dob">
      
        <button type="submit" class="btn btn-success">Add person</button>
    </form>
    </div>
    <div class="w-100 p-5">

      
        <section>
            <table id="myTable" class="table table-striped table-dark">
                <thead>
                    <tr>
                       
                        <th>Name</th>
                        <th>Updated name</th>
                        <th>Date of birth</th>
                        <th>New dob</th>
                        <th>Current age</th>
                        <th>Age on birthday</th>
                        <th>Days until birthday</th>
                        <th>Actions</th>
                        <th>Update</th>
                     
                    </tr>


                </thead>
                <tbody>
                    <tr th:each="birthday: ${birthdayItems}">
                       
                        <td th:text="${birthday.name}">Name</td>
                        <td><form action="#" th:action="@{/update/{id}(id=${birthday.id})}" th:object="${birthdayItem}" method="POST"><input type="text" name="name" th:value="${birthday.name}"></td>
                        <td th:text="${birthday.dob}">Date of birth</td>
                        <td><input type="date" name="dob" th:value="${birthday.dob}"></td>
                        <td th:text="${birthday.currentAge}">Current age</td>
                        <td th:text="${birthday.currentAge} + 1">Age on birthday</td>
                        <td th:text="${birthday.daysLeft}">Days until birthday</td>
                        <td> <a class="btn btn-danger" th:href="@{/birthday/{id}(id=${birthday.id})}">Delete</a></td>
                        <td><button id="updateBtn" type="submit" class="btn btn-success" onClick='javascript:show_hide_column(false)'></form>Save changes</a></td>
                        
                        
                    </tr>
                </tbody>


            </table>

        </section>
        <a id="updateBtn" class="btn btn-info" onClick='javascript:show_hide_column(true)'>Update</a>
        <a id="closeBtn" class="btn btn-primary" onClick='javascript:show_hide_column(false)'>Close</a>
    </div>
    
</body>

<script>
    let rows = document.getElementById('myTable').rows;
    for (let row = 0; row < rows.length; row++) {
    let cols = rows[row].cells;
        cols[1].style.display = "none";
        cols[3].style.display = "none";
        
        cols[8].style.display = "none";
    }
    function show_hide_column(show) {
let rows = document.getElementById('myTable').rows;

document.getElementById('updateBtn').style.display = show ? "block" : "none";

for (let row = 0; row < rows.length; row++) {
    let cols = rows[row].cells;
        cols[0].style.display = show ? 'none' : 'block';
        cols[1].style.display = show ? 'block' : 'none';
        // cols[2].style.display = show ? 'none' : 'block';
        cols[3].style.display = show ? 'block' : 'none';
        // cols[4].style.display = show ? 'none' : 'block';
        // cols[5].style.display = show ? 'none' : 'block';
        // cols[6].style.display = show ? 'none' : 'block';
        cols[8].style.display = show ? 'block' : 'none';
        // cols[9].style.display = hide ? 'none' : 'block';
}
}
</script>
</html>